
<div class='jumbotron mt-4 '>
    <h1 class='display-4'>Aplicaci贸n de notas</h1>
    <p class='lead'>En esta aplicaci贸n se utiliz贸 Node.Js junto a Express del lado de servidor. Integrando una base de datos en MongoDB para guardar las notas en cada ruta de usuario, estando encriptadas para que solo sean visibles por la cuenta que este logueada.
        El front-end se realiz贸 con Bootstrap 4.
    </p>
    <hr class='my-4'>
    <p>Abajo encontraras 2 botones para acceder tanto a mi perfil de Linkedin como de Github</p>
    <a href='https://www.linkedin.com/in/emiliano-luzardo-51a9a619a/' target='_blank' class='btn btn-primary'>Perfil Linkedin</a>
    <a href='https://github.com/eluzardo' target='_blank' class='btn btn-primary'>Perfil Github</a>
</div>