
<div class='jumbotron mt-4 '>
    <h1 class='display-4'>Notes App Nodejs and MongoDB</h1>
    <p class='lead'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos delectus rerum harum totam similique ut tempora eum tempore at eius soluta praesentium incidunt accusamus a, ullam tenetur voluptas modi voluptatibus!</p>
    <hr class='my-4'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</p>
    <a href='https://www.linkedin.com/in/emiliano-luzardo-51a9a619a/' target='_blank' class='btn btn-primary'>Perfil Linkedin</a>
</div>